---
title: Ditto
---

<div id="fullpage">
  <div class="section " id="section0">
    <div class="intro">
      <h1>Normal scrolling</h1>
      <p>With a linked menu</p>
    </div>
  </div>
  <div class="section" id="section1">
      <div class="slide" id="slide1">
      <div class="intro">
        <h1>URL get updated (#)</h1>
        <p>
          Easy to bookmark and share
        </p>
      </div>
    </div>

  </div>
  <div class="section" id="section2">
    <div class="intro">
      <h1>Just use </h1>
      <p>autoScrolling:false</p>
    </div>
  </div>
</div>