---
title: msrd tech demo
---

<main>

  <section class="homeSlide">
    <div class="logoContainer">
      <img class="logo" src="/assets/img/logo.svg">
    </div>
    <div class="bcg">
      <div class="hsContainer">
        <div class="hsContent">
          <h1>Burgers, bitcoin & bovine</h1>
          <p>What we've been working on</p>
        </div>
      </div>
    </div>
  </section>

  <section id="slide-1" class="homeSlide">
    <div class="bcg">
      <div class="workContainer">
        <div class="workContent">
          <h1>Exploding burgers</h1>
          <p>Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing shrink market venture capital pitch deck.</p>
          <div class="hsLink"><span class="hsText">Visit huxtaburger.com.au</span></div>
        </div>
      </div>
    </div>
  </section>

  <section id="slide-2" class="homeSlide">
    <div class="bcg">
      <div class="workContainer">
        <div class="workContent">
          <h1>Magic internet money</h1>
          <p>Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing shrink market venture capital pitch deck.</p>
          <div class="hsLink"><span class="hsText">Download Hive for iOS on the app store</span></div>
        </div>
      </div>
    </div>
  </section>

  <section id="slide-3" class="homeSlide">
    <div class="bcg">
      <div class="workContainer">
        <div class="workContent">
          <h1>Got data?</h1>
          <p>Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing shrink market venture capital pitch deck.</p>
          <div class="hsLink"><span class="hsText">Try the demo</span></div>
        </div>
      </div>
    </div>
  </section>

  <section class="homeSlide">
    <div class="bcg">
      <div class="footerContainer">
        <div class="hsContent">
          <h2>Thank you and get amongst it.</h2>
        </div>
        {{!-- <div class="twitterBanner">
          <p>Follow us on Twitter ya dog</p>
        </div> --}}
      </div>
    </div>
  </section>

</main>