---
title: msrd tech demo
---

  <div class="wanker" data-wanker>
    <div class="wanker-content">
      <h1>The web was meant to be read, not squished.</h1>
      <p>Prevent excessive browser resizing and get people back to reading.</p>
    </div>
  </div>

<main>

  <section class="homeSlide">
    <div class="bcg">
      <div class="hsContainer">
        <div class="hsContent">
          <h1>I design <span class="mobile"></span> interfaces.</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="slide-1" class="homeSlide">
    <div class="bcg">
      <div id="infoToggle" class="infoToggle"></div><div class="workContainer none">
        <div class="workBio">
          <h2 class="workTitle">Huxtaburger</h2>
          <div class="workDescription">A responsive website that blah blah responsive yadda yadda. A collaboration between derp & derp.</div>
          <div class="workLink">Check it</div>
        </div>
      </div>
    </div>
  </section>

  <section id="slide-2" class="homeSlide">
    <div class="bcg">
      <div class="workContainer none">
        <div class="workBio">
          <h2 class="workTitle">Huxtaburger</h2>
          <div class="workDescription">A responsive website that blah blah responsive yadda yadda. A collaboration between derp & derp.</div>
          <div class="workLink">Check it</div>
        </div>
      </div>
    </div>
  </section>

  <section id="slide-3" class="homeSlide">
    <div class="bcg">
      <div class="workContainer none">
        <div class="workBio">
          <h2 class="workTitle">Huxtaburger</h2>
          <div class="workDescription">A responsive website that blah blah responsive yadda yadda. A collaboration between derp & derp.</div>
          <div class="workLink">Check it</div>
        </div>
      </div>
    </div>
  </section>

  <section id="slide-4" class="homeSlide">
    <div class="bcg">
      <div class="workContainer none">
        <div class="workBio">
          <h2 class="workTitle">Huxtaburger</h2>
          <div class="workDescription">A responsive website that blah blah responsive yadda yadda. A collaboration between derp & derp.</div>
          <div class="workLink">Check it</div>
        </div>
      </div>
    </div>
  </section>

  <section id="slide-5" class="homeSlide">
    <div class="bcg">
      <div class="workContainer none">
        <div class="workBio">
          <h2 class="workTitle">Huxtaburger</h2>
          <div class="workDescription">A responsive website that blah blah responsive yadda yadda. A collaboration between derp & derp.</div>
          <div class="workLink">Check it</div>
        </div>
      </div>
    </div>
  </section>

  <section class="homeSlide">
    <div class="bcg">
      <div class="footerContainer">
        <div class="hsContent">
          <h2>Thank you and get amongst it.</h2>
        </div>
        <div class="smLinks">
          <a title="Email" href="mailto:hello@benjennin.gs" class="smIcons email"></a>
          <a href="http://twitter.com/benjennin_gs" title="Twitter" class="smIcons twitter"></a>
          <a href="http://dribbble.com/benjennings" title="Dribbble" class="smIcons dribbble"></a>
          <a href="http://github.com/jenbennings" title="Github" class="smIcons github"></a>
        </div>
      </div>
    </div>
  </section>



</main>
