

@font-face {
  font-family: 'Union';
  src: url('../fonts/union-regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Union';
  src: url('../fonts/union-bold.woff');
  font-weight: 700;
}