


// Global style variables
// ------------------------------------------------------------------------------------


// font family - update these when external fonts are setup

$sans:   'Union', sans-serif;

// font weights

$regular:   400;
$bold:      700;